<mat-card>

    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form (ngSubmit)="onSubmit()" #register="ngForm">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="user.email" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="password" name="password1" [(ngModel)]="user.password"
                        required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="repeter votre password" name="password2" [(ngModel)]="user.password"
                        required>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" [disabled]="register.form.invalid">Register</button>
        </form>
        <p *ngIf="feedback">{{feedback}}</p>
    </mat-card-content>
    <!-- <mat-card-actions align="end">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>

<hr>



<div class="container">

    <form class="example-form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="votre email" value="email" [(ngModel)]="user.email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="votre password">
        </mat-form-field>
    </form>

    <hr>

    <!-- <h1>Register</h1> -->
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="meail">Email address</label>
            <input type="email" name="email" [(ngModel)]="user.email" class="form-control" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="user.password" class="form-control"
                placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p *ngIf="feedback">{{feedback}}</p>

</div>